/* .container {
  min-height: 100vh;
} */

.filter {
  position: absolute;
  top: 40vh;
  width: 100vw; 
  height: 10vh;
  z-index: 2;
  background: linear-gradient(
    to bottom, 
    rgba(18, 18, 18, 18), rgba(18, 18, 18, 1)
  );
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  top: -80px;
  position: relative;
  z-index: 10;
  /* margin-top: 24px; */
}

.block,
.box {
  width: 100%;
}

.block {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 8px;
}

.chart {
  width: 30%;
  margin: auto;
}

.content {
  width: 30%;
}

.list {
  margin: 16px auto;
}

.list:last-child {
  margin-bottom: 0px;
}

.list span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.list p {
  font-size: 12px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.list h2 {
  margin-top: 4px;
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 960px) {
  .body {
    width: 90%;
  }

  .chart {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .body {
    width: 95%;
  }

  .chart {
    width: 70%;
  }

  .box {
    flex-direction: column;
  }

  .content {
    width: 80%;
    margin-top: 24px;
  }

  .lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list {
    margin: 0px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .content {
    width: 100%;
  }
}