.container {
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -80px;
  width: 100%;
}

.title {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 25px;
  cursor: pointer;
}

svg {
  display: none;
}

.title:hover {
  text-decoration: underline;
}

.title:hover svg {
  fill: white;
  display: initial;
}

.picker {
  width: 50%;
  margin-bottom: 24px;
}

.chart {
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

@media (max-width: 1280px) {
  .chart {
    width: 60%;
  }
}

@media (max-width: 960px) {
  .chart {
    width: 70%;
  }

  .picker {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .chart {
    width: 80%;
  }

  .picker {
    width: 90%;
  }
}