.popup {
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
}

.popup_title {
  margin-left: 8px;
  margin-right: 16px;
  font-weight: 700;
  vertical-align: middle;
  max-width: 88px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.87);
}

img {
  width: 24px;
  vertical-align: middle;
}

.close {
  float: right;
  cursor: pointer;
  margin-top: -8px;
  margin-right: -8px;
}

.close:hover {
  color: #CF6679;
}

.popup_text {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
}

.popup_text:first-of-type {
  margin-top: 16px;
}

.popup_text strong {
  margin-left: 16px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
}

@media (max-width: 350px) {
  .popup_title {
    font-size: 14px;
    display: inline-block;
    max-width: 50px;
  }
}