.block {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  padding: 16px 0px;
  margin-top: 16px;
}

.block:last-child {
  margin-bottom: 16px;
}

.title {
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.source {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.38);
  float: right;
  margin-right: 16px;
  margin-top: 16px;
}

.more,
.less {
  height: 48px;
  display: flex;
  align-items: center;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  margin-right: 16px;
  cursor: pointer;
}

.more {
  transform: rotate(0deg);
}

.less {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .block {
    padding: 16px 0px;
  }
  
  .title {
    margin-left: 24px;
  }
}
