.container {
  height: 50px;
  width: 600px;
  z-index: 5;
  position: relative;
  top: -25px;
}

.selector {
  max-height: calc(48px * 10 - 10px);
  border-radius: 24px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
  overflow: scroll;
}

.selector::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; 
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .selector {
    max-height: calc(48px * 8 - 14px);
  }
}

/* Selector */

.selector_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border: 1px solid rgba(158, 158, 158, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
  background: white;
  min-height: 50px;
  border-radius: 6px;
}

.selector_text {
  opacity: 0.5;
  margin-left: 8px;
}

.selector_addButton {
  cursor: pointer;
  margin-right: 8px;
}

.selector_menu {
  position: absolute;
  width: 100%;
  border-radius: 0 0 6px 6px;
  transform: translateY(-1px);
}