* {
  outline: none;
}

.container {
  position: relative;
  width: 50%;
  max-width: 600px;
}

.picker,
.picker_menu,
.selector,
.selector_menu {
  width: 100%;
}

.picker,
.picker_menu_active,
.selector {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.picker {
  height: 50px;
  overflow: scroll;
}

.picker_menu_active {
  max-height: calc(48px * 10 - 10px);
  overflow: scroll;
}

.picker_menu_active::-webkit-scrollbar,
.picker::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; 
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  min-height: 50px;
  cursor: pointer;
}

.selector_chip {
  margin: 4px;
}

.selector_text {
  opacity: 0.5;
  margin-left: 8px;
}

.selector_addButton {
  cursor: pointer;
  margin-right: 8px;
}

.picker_menu,
.selector_menu {
  position: absolute;
  transform: translateY(-1px);
}

@media (max-width: 1280px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 960px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 80%;
  }

  .picker_menu_active {
    max-height: calc(48px * 8 - 14px);
  }
}