li {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 48px;
  list-style-type: none;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

li:hover {
  background: rgba(0, 0, 0, 0.08);
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.more {
  height: 48px;
  display: flex;
  align-items: center;
}

.listBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectText {
  font-weight: 700;
}

.selectText,
.listText {
  margin-left: 16px;
}

img {
  width: 30px;
}

@media (max-width: 760px) {
  .selectText,
  .listText {
    font-size: 16px;
    width: 180px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

@media (max-width: 350px) {
  .selectText,
  .listText {
    font-size: 16px;
    width: 130px;
  }
}
