.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.card {
  margin: 4px;
  margin-bottom: 8px;
  width: 33.3%;
  padding: 16px;
  background: rgba(255, 255, 255, 0.07);
}

.card:first-child {
  margin-left: 0px;
}

.card:last-child {
  margin-right: 0px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.title {
  display: inline-block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.value {
  font-size: 24px;
  font-weight: 500;
  margin: 8px;
  color: rgba(255, 255, 255, 0.87);
}

.badge {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: black;
  margin-top: -8px;
  padding-left: 8px; 
  padding-right: 10px; 
  border-radius: 12px;
  width: auto;
  height: 24px;
  line-height: 24px;
}

.confirmed {
  background: #CF6679;
}

.recovered {
  background: #03DAC5;
}

.deaths {
  background: #BB86FC;
}

/* @media (max-width: 1280px) {
  .container {
    width: 85%;
  }
} */

/* @media (max-width: 960px) { */
  /* .container {
    width: 100vw;
  }

  .card {
    width: 90%;
  } */

  /* .title {
    font-size: 12px;
  }

  .value {
    font-size: 18px;
  } */
/* } */

@media (max-width: 800px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .card {
    margin: 0;
    margin-bottom: 8px;
    width: 100%;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .text {
    flex-direction: row;
    align-items: unset;
  }

  .value {
    margin-left: 0;
  }
}