.container {
  margin: 32px 0;
}

.card {
  margin: 0 8px !important;
  min-width: 240px;
}

.infected {
  border-bottom: 8px solid rgba(139, 0, 0);
}

.recovered {
  border-bottom: 8px solid rgba(73,192,182);
}

.deaths {
  border-bottom: 8px solid rgba(34, 34, 34);
}

.infectedToday,
.recoveredToday,
.deathsToday {
  font-size: 16px;
  margin-right: 8px;
}

.infectedToday {
  color: rgba(139, 0, 0);
}

.recoveredToday {
  color: rgba(73,192,182);
}

.deathsToday {
  color: rgba(34, 34, 34);
}

@media (max-width: 960px) {
  .card {
    margin: 2% 0 !important;
  }

  .date {
    margin-left: 8px !important;
  }
}

.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 40px auto;
}
.lds div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(139, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds div:nth-child(1) {
  left: 8px;
  animation: lds1 0.6s infinite;
}
.lds div:nth-child(2) {
  left: 8px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(3) {
  left: 32px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(4) {
  left: 56px;
  animation: lds3 0.6s infinite;
}
@keyframes lds1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}