.container {
  margin: 50px 0;
}

.card {
  margin: 0 8px !important;
  min-width: 240px;
}

.infected {
  border-bottom: 8px solid rgba(139, 0, 0);
}

.recovered {
  border-bottom: 8px solid #49c0b6;
}

.deaths {
  border-bottom: 8px solid rgba(34, 34, 34);
}

.infectedToday,
.recoveredToday,
.deathsToday {
  font-size: 16px;
  margin-right: 8px;
}

.infectedToday {
  color: rgba(139, 0, 0);
}

.recoveredToday {
  color: #49c0b6;
}

.deathsToday {
  color: rgba(34, 34, 34);
}

@media (max-width: 960px) {
  .card {
    margin: 2% 0 !important;
  }

  .date {
    margin-left: 8px !important;
  }
}
