.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 5;
}

.title svg {
  display: none;
}

.title:hover {
  text-decoration: underline;
}

.title:hover svg {
  display: initial;
  fill: rgba(255, 255, 255, 1);
}

h1 {
  font-weight: 500;
}

.sub_title {
  font-size: 21px;
}

.text {
  font-size: 14px;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}