.table {
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.07);
}

.head {
  text-align: center;
}

.column {
  cursor: pointer;
}

.column:hover {
  text-decoration: underline;
}

.column svg,
.column span {
  vertical-align: middle;
}

.table th {
  background: rgba(255, 255, 255, 0.07);
  width: 30%;
}

.table th:first-child {
  width: 36%;
}

tr {
  height: 48px;
}

.countries {
  display: flex;
  align-items: center;
  height: 48px;
  text-align: left;
}

.countries span:first-child {
  margin: auto 16px;
}

.value {
  color: rgba(255, 255, 255, 0.87);
  padding-right: 16px;
  font-size: 21px;
}

.more,
.less {
  display: inline-block;
}

.more {
  transform: rotate(0deg);
}

.less {
  transform: rotate(180deg);
}


@media (max-width: 450px) {
  .table {
    font-size: 12px;
  }

  .table th:first-child {
    width: 40%;
  }

  .countries span:first-child {
    margin: auto 8px;
  }
  
  .value {
    padding-right: 8px;
    font-size: 14px;
  }
}