.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
}

.title {
  margin: 32px auto;
}

.chart {
  margin: 40px auto;
  width: 100%;
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95vw;
  }
}