.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 24px;
}

.selector {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-bottom: 8px;
}

.button,
.button_active {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.87);
}

.button_active {
  color: #000000;
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, 
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.button:last-child {
  margin-right: 0px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.12);
}

.chart {
  width: 90%;
  margin: auto;
}

/* @media (max-width: 960px) {
  .chart {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .chart {
    width: 95%;
  }
} */

@media (max-width: 400px) {
  .button,
  .button_active {
    font-size: 12px;
  }
}