.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.selector {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 16px auto;
}

.button {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 12px 0px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.button:last-child {
  margin-right: 0px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.12);
}

.chart {
  width: 70%;
  margin: auto;
}

@media (max-width: 960px) {
  .chart {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .chart {
    width: 95%;
  }

  .button {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 350px) {
  .button {
    font-size: 12px;
  }
}