* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
  background: rgb(250, 250, 250);
  /* background: #e3e6ec; */
  /* background: rgba(8, 18, 23, 0.5); */
  /* overflow: scroll; */
}

header {
  margin-top: 48px;
  text-align: center;
}

.icon {
  font-size: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blur {
  width: 100vw;
  height: 100vh;
  top: 50vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0px) saturate(0%);
  -webkit-backdrop-filter: blur(0px) saturate(0%);
  transition: backdropFilter 1.5s ease-out;
}

.blur_active {
  -webkit-backdrop-filter: blur(4px) saturate(20%);
  backdrop-filter: blur(4px) saturate(20%);
}

footer {
  background: #EEE; 
  width: 100%;
  padding: 30px 10%;
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    margin: 0 10%;
  }
}