* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #121212;
  color: rgba(255, 255, 255, 0.87);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 85%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

footer {
  width: 100%;
  padding: 24px 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #000000;
}

footer p {
  font-size: 12px;
  margin: 8px 2px;
  color: rgba(255, 255, 255, 0.6);
}

footer a {
  color: rgba(255, 255, 255, 0.87);
}

@media (max-width: 1250px) {
  .container {
    width: 95%;
  }

  footer {
    padding: 24px 2.5%;
  }
}

@media (max-width: 450px) {
  footer div {
    width: 160px;
  }

  .text {
    width: 96px;
    text-align: right;
  }
}