.marker,
.active {
  background: rgba(139, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transform: translate(-50%, -50%);
}

.active {
  animation: glow 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px rgba(157, 0, 0, 0.8);
  }
  to {
    box-shadow: 0 0 10px 10px rgba(157, 0, 0, 0.8);
  }
}

.popup {
  color: rgba(0, 0, 0, 0.54);
}

.popup_title {
  margin-left: 8px;
  margin-right: 16px;
  font-weight: 700;
  vertical-align: middle;
}

img {
  width: 24px;
  vertical-align: middle;
}

.close {
  float: right;
  cursor: pointer;
}

.close:hover {
  color: rgba(139, 0, 0);
}

.popup_text {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
}

.popup_text:first-of-type {
  margin-top: 16px;
}

.popup_text strong {
  margin-left: 16px;
  color: black;
  font-weight: 500;
}

@media (max-width: 350px) {
  .popup_title {
    font-size: 14px;
    display: inline-block;
    max-width: 50px;
  }
}