.container {
  width: 100vw;
  height: 60vh;
  position: relative;
}

.cover {
  position: absolute;
  bottom: 0%;
  width: 100%; 
  height: 96px;
  z-index: 4;
  background: -webkit-linear-gradient(to bottom, rgba(18, 18, 18, 0), rgba(18, 18, 18, 1));
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0), rgba(18, 18, 18, 1));
}

.zoomOut {
  cursor: pointer; 
  position: absolute;
  right: 5%;
  bottom: 56px;
  color: rgba(255, 255, 255, 0.87);
  background: rgba(0, 0, 0, 0.87);
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  z-index: 10;
  display: flex; 
  justify-content: center; 
  align-items: center;
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, 
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  -webkit-animation: popup 0.2s ease-in;
  animation: popup 0.2s ease-in;
}

@-webkit-keyframes popup {
  0% { -webkit-transform: scale(0);}
  75% { -webkit-transform: scale(1.3);}
  100% { -webkit-transform: scale(1);}
}

@keyframes popup {
  0% { transform: scale(0);}
  75% { transform: scale(1.3);}
  100% { transform: scale(1);}
}

@media (min-width: 1000px) {
  .zoomOut {
    right: calc((100vw - 960px) / 2);
  }
}

@media (max-height: 500px) {
  .container {
    height: 100vh;
  }
}